$color-head:#1aabe8;
$color-phone:#2989da;
$color-email:#1571be;
$font:avenir,medium,sans-serif;
$color-font:white;
$fontsize: 25pt;

.headline-container{
	// block elements have a width of "auto" by default
	height: 254px;
	background-color: $color-head;
	.row {
		width: 100%;
		max-width: 100%;
	}
	.columns {
		padding: 0;
			}
}


@mixin satisfaction-is {
	font-family: Avenir;
	padding-top: 35px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 50pt;
	color: white;
	margin: 0px;
}

@mixin our-strongest-point {
	font-family: Avenir;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 50pt;
	color: white;
	margin: 0px;
}

#satisfaction{
	@include satisfaction-is;
}

#strongest{
	@include our-strongest-point;
}


.phone-box{
	background-color: $color-phone;
	height: 127px;
}

.email-box{
	background-color: $color-email;
	height: 127px;
}

/* Media Queries */

@media (max-width:1024px) {
 #contact-info { 
	padding-top: 28px;
	}
}

@media (max-width:664px){
	.headline-container{
		height: 354px;
	}
	
	#satisfaction{
		font-size: 40pt;
	}

	#strongest{
		font-size: 40pt;
	}

}

@media (max-width:424px){

	#satisfaction{
		font-size: 30pt;
	}

	#strongest{
		font-size: 30pt;
	}
}

/* Highres retina home image display @2x */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-min-moz-device-pixel-ratio: 2),
only screen and (o-min-device-pixel-ratio: 2/1),
only screen and (-min-moz-device-pixel-ratio: 2), 
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx){

.image-highres{
	background-image: url(../images/home@2x.jpg);
	background-repeat: no-repeat;
	}	
}

