.logo{
	background-image:url(../images/Pointplumbing.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: relative;
	margin-top: 5%;
	margin-left: 10%;
	margin-bottom: 2%;
	right:5%;
}

.icons{
	position: relative;
	display: inline;
}

.home{
	display: inline-block;
	position: relative;
	margin-left:20%;
	left:3%;
}

.services{
	display: inline-block;
	position: relative;
	margin-left: 2%;
	left:3%;
}

.about{
	display: inline-block;
	position: relative;
	margin-left: 2%;
	left:3%;
}

.contact{
	display: inline-block;
	position: relative;
	margin-left: 2%;
	left: 3%;
}