.navbar {
	padding:45px;
}

.logo {
	background-image:url(../images/Pointplumbing.png);
	background-repeat: no-repeat;
	position: absolute;
}

.icons{
	display:inline;
	position: relative;
	left:67%;
}

.home{
	display: inline-block;
	position: relative;
	margin-left:12%;
	left:3%;
}

.services{
	display: inline-block;
	position: relative;
	margin-left: 2%;
	left:3%;
}

.about{
	display: inline-block;
	position: relative;
	margin-left: 2%;
	left:3%;
}

.contact{
	display: inline-block;
	position: relative;
	margin-left: 2%;
	left: 3%;
}

@media (max-width:774px) {
	.icons { 
	visibility: hidden;
	position: absolute;
	}

	.logo{
		position: relative;
		left:7%;
	}

}


