$color-headline-about:#1aabe8;
$color-aboutsect1:#1571be;
$color-aboutsect2:#4392d4;

.headline-about{
	height: 250px;
	background-color:$color-headline-about;
}

.aboutsect1{
	height: 350px;
	background-color: $color-aboutsect1;

	.row{
		width: 100%;
		max-width: 100%;
	}

	.columns {
		padding: 0;
			}
}

.aboutsect2{
	height: 350px;
	background-color:$color-aboutsect2;
}

/* Media Queries */

@media (max-width:640px){
	.aboutsect2{
		margin-top:350px;
	}
}
