$color-headline-about:#1aabe8;
$color-aboutsect1:#1571be;
$color-aboutsect2:#4392d4;

.headline-about{
	height: 250px;
	background-color:$color-headline-about;
}

.aboutsect1{
	height: 350px;
	background-color: $color-aboutsect1;

	.row{
		width: 100%;
		max-width: 100%;
	}

	.columns {
		height:350px;
		padding: 0;
			}
}

.aboutsect2{
	height: 350px;
	background-color:$color-aboutsect2;
}

// ALIGNMENT OF TEXT -- YOUR PIPELINE

%pipline-align{ 
	position: relative;
	top: 50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}

.pipeline{
	text-align: center;
	font-family: Avenir;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 4em;
	color: white;
	margin: 0px;
	@extend %pipline-align;
}

@mixin main-content{
	font-family: Avenir;
	padding-left: 25px;
	padding-right: 25px;
	font-size: 1.8em;
	color: white;
	line-height: 1.5em;
	//padding-top: 45px;
	font-weight: 600;
}

.about-content{
	@include main-content;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}

/* Media Queries */

@media (max-width:915px){
	.headline-about{
		height: 300px;
	}
}

@media (max-width:444px){
	.headline-about{
		height: 450px;
	}
}

@media (max-width:700px){
	.pipeline{
	font-size: 2.8em;
	}
}

@media (max-width:1024px){
	.headline-contact{
		padding-top:650px;
	}

}

@media (max-width:620px){
	.about-content{
		font-size: 1.5em;
	}
}

