$color-headline-contact:#1aabe8;
$color-sub-headline:#289cab;
$color-phone:#0874a1;
$color-email:#20bbcf;

.headline-contact{
	height: 300px;
	background-color: $color-headline-about;
}

.sub-headline{
	height: 300px;
	background-color: $color-sub-headline;

	.columns{
		padding:0px;
	}

	.row{
		margin: 0px;
	}
}

.phone-contact{
	height: 150px;
	background-color: $color-phone;
}

.email-contact{
	height: 150px;
	background-color:$color-email
}

/* Media Queries */

@media (max-width:640px) {
	.headline-contact{
		position: relative;
		top: 350px;
	}
}

@media (max-width:640px) {
	.sub-headline{
		padding-top:300px;
	}
}


