$color-headline-form:#1571be;
$color-plumbing-fact:#2989da;
$color-form-bg:#bcbec0;
$form-imput-spacing:30px;
$type-face:Avenir;

.headline-form{
	height: 300px;
	background-color:$color-headline-form;

	.row{
		margin:0px;
	}

	.columns{
		height: 300px;
		padding:0px;
	}

}

// extending to center form intro :) Extending helps to not bloat the css. 

%center-form-intro{ 
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}

.form-intro{
	font-family:$type-face;
	font-size: 2em;
	text-align: center;
	color: white;
	font-weight: 600;
	margin:0px;
	padding-right: 40px;
	padding-left: 40px;
	@extend %center-form-intro;
}

.form-bg{
	height: 700px;
	background-color: $color-form-bg;
}


// Cancels out the deafult margin spacing of 0 0 1rem from the foundation form. 
#spaceing{
	margin: 0px;
	}

#name{
	padding-top: $form-imput-spacing;
	padding-left: $form-imput-spacing;
	padding-right: $form-imput-spacing;
}

#email{
	padding-top: $form-imput-spacing;
	padding-left: $form-imput-spacing;
	padding-right: $form-imput-spacing;
}

#phone{
	padding-top: $form-imput-spacing;
	padding-left: $form-imput-spacing;
	padding-right: $form-imput-spacing;
}

#location{
	padding-top: $form-imput-spacing;
	padding-left: $form-imput-spacing;
	padding-right: $form-imput-spacing;
}

#message-area{
	padding-top: $form-imput-spacing;
	padding-left: $form-imput-spacing;
	padding-right: $form-imput-spacing;
}

#submit{
	padding-top:$form-imput-spacing;
	padding-left: $form-imput-spacing;
	padding-right: $form-imput-spacing;
}

#message{
	height: 200px;
}

@media (max-width:640px) {
	.form-bg{
		//margin-top:300px;
		height:850px;
	}
}