$color-info:#6fdae7;
$color-headline:#1ca5b6;
$color-serviceblock:#1aabe8;


.headline-services{
	height: 350px;
	background-color: $color-headline;
}

.services-block{
	height: 80px;
	background-color:$color-serviceblock;
	width: 257px;
	margin: 0 auto;
	position: relative;
	bottom: 70px;
}

.services-intro{
	padding-top:10px;
	font-family: Avenir;
	color: white;
}

.has-tip{
	font-family: Avenir;
	border-bottom: none;
}

$service-icon-width:230px;
$service-icon-height:240px;

@mixin width-height-icons{
width: $service-icon-width;
height: $service-icon-height;
}

@mixin hov-properties{
	width: 230px;
	float:left;
	margin: 0;
	padding: 0;
}

.hint1{
	padding-top: 20px;
}

// REPAIRS // 

#repair {
	@include width-height-icons;
}

	.repair-hov{
		@include hov-properties;
		background:url('http://d3vi9nkvdbmq5l.cloudfront.net/service-icons/hov/Repair_h.svg')0 0 no-repeat;
	}

	.repair-hov #repair{
		//@include width-height-icons;
		opacity:1;
		transition:opacity .5s;
	}

	.repair-hov:hover #repair{
		//@include width-height-icons;
		opacity:0;
		transition:opacity .5s;
		}

// HEATERS //  

#heater{
	@include width-height-icons;
}

	.heater-hov{
		@include hov-properties;
		background:url('http://d3vi9nkvdbmq5l.cloudfront.net/service-icons/hov/Heater_h.svg')0 0 no-repeat;
	}

	.heater-hov #heater{
		opacity:1;
		transition:opacity .5s;
	}

	.heater-hov:hover #heater{
		opacity:0;
		transition:opacity .5s;
	}

// PIPE REROUTE // 	

#reroute{
	@include width-height-icons;
}

	.reroute-hov{
		@include hov-properties;
		background:url('http://d3vi9nkvdbmq5l.cloudfront.net/service-icons/hov/Reroute_h.svg')0 0 no-repeat;
	}

	.reroute-hov #reroute{
		opacity:1;
		transition:opacity .5s;
	}

	.reroute-hov:hover #reroute{
		opacity:0;
		transition:opacity .5s;
	}

// WATER SYSTEM // 

#water{
	@include width-height-icons;
}

	.water-hov{
		@include hov-properties;
		background:url('http://d3vi9nkvdbmq5l.cloudfront.net/service-icons/hov/Water_h.svg')0 0 no-repeat;
	}

	.water-hov #water{
		opacity:1;
		transition:opacity .5s;
	}

	.water-hov:hover #water{
		opacity:0;
		transition:opacity .5s;
	}

// WASTE SYSTEMS // 

#waste{
	@include width-height-icons;
}

	.waste-hov{
		@include hov-properties;
		background:url('http://d3vi9nkvdbmq5l.cloudfront.net/service-icons/hov/Waste_h.svg')0 0 no-repeat;
	}

	.waste-hov #waste{
		opacity:1;
		transition:opacity .5s;
	}

	.waste-hov:hover #waste{
		opacity:0;
		transition:opacity .5s;
	}

// INSTALLATIONS // 

#install{
	@include width-height-icons;
}

	.install-hov{
		@include hov-properties;
		background:url('http://d3vi9nkvdbmq5l.cloudfront.net/service-icons/hov/Installations_h.svg')0 0 no-repeat;
	}

	.install-hov #install{
		opacity:1;
		transition:opacity .5s;
	}

	.install-hov:hover #install{
		opacity:0;
		transition:opacity .5s;
	}

// PRESSURE // 

#pressure{
	@include width-height-icons;
}

	.pressure-hov{
		@include hov-properties;
		background:url('http://d3vi9nkvdbmq5l.cloudfront.net/service-icons/hov/Pressure_h.svg') 0 0 no-repeat;
	}

	.pressure-hov #pressure{
		opacity:1;
		transition:opacity .5s;
	}

	.pressure-hov:hover #pressure{
		opacity:0;
		transition:opacity .5s;
	}

// GASLINES // 

#gasline{
	@include width-height-icons;
}
 
 .gasline-hov{
 	@include hov-properties;
 	background:url('http://d3vi9nkvdbmq5l.cloudfront.net/service-icons/hov/Gasline_h.svg') 0 0 no-repeat;
 }

 .gasline-hov #gasline{
		opacity:1;
		transition:opacity .5s;
	}

	.gasline-hov:hover #gasline{
		opacity:0;
		transition:opacity .5s;
	}

.block-grid-li{
	text-align: center;
	padding-bottom: 150px;
	padding-top: 150px;
	margin: 0px;
}

#align {
	display: inline-block;
	margin: 0px;
}

// the align extend is centering the text within headline-services
%align {
	position: relative;
	top: 50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}

.plumbing-repairs{
	font-family: Avenir;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 3.5em;
	color: white;
	margin: 0px;
	text-align: center;
	@extend %align;
}

@media (min-width: 1214px){
	.plumbing-repairs{
		font-size: 4em;
	}
}

@media (min-width: 1380px){
	.headline-services{
		height: 350px;
	}

	.plumbing-repairs{
		font-size: 4.4em;
	}
}


@media (max-width:900px) {
	.plumbing-repairs{
		font-size: 2.8em;
	}

	.headline-services{
		height:300px;
	}
}

@media (max-width:642px){
	.services-block{
		width: 230px;
	}

	.services-intro{
		position: relative;
		top:8px;
	}

	.hint1{
		padding-top: 30px;
	}
}

@media (max-width:530px){
	.plumbing-repairs{
		font-size: 2.6em;
	}
}


@media (max-width:630px){
	.headline-services{
		height: 300px;
	}
}

@media (max-width:429px){
	.headline-services{
		height: 450px;
		padding-right: 40px;
		padding-left: 40px;
	}
}

@media (max-width:342px){
	.headline-services{
		padding-right: 0px;
		padding-left: 0px;
	}
}
