$color-info:#6fdae7;
$color-headline:#1ca5b6;
$color-serviceblock:#1aabe8;


.headline-services{
	height: 350px;
	background-color: $color-headline;
}

.services-block{
	height: 80px;
	background-color:$color-serviceblock;
	width: 257px;
	margin: 0 auto;
	position: relative;
	bottom: 70px;
}

$service-icon-width:230px;
$service-icon-height:240px;

#repair{
	width: $service-icon-width; height: $service-icon-height;
}

#heater{
	width: $service-icon-width; height: $service-icon-height;
}

#reroute{
	width: $service-icon-width;	height: $service-icon-height;
}

#water{
	width: $service-icon-width; height: $service-icon-height;
}

#waste{
	width: $service-icon-width; height: $service-icon-height;
}

#install{
	width: $service-icon-width; height: $service-icon-height;
}

#pressure{
	width: $service-icon-width; height: $service-icon-height;
}

#gasline{
	width: $service-icon-width; height: $service-icon-height;
}

.block-grid-li{
	text-align: center;
	padding-bottom: 150px;
	padding-top: 150px;
	margin: 0px;
}

#align {
	display: inline-block;
	margin: 0px;
}

// the align extend is centering the text within headline-services
%align {
	position: relative;
	top: 50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
}

.plumbing-repairs{
	font-family: Avenir;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 3.5em;
	color: white;
	margin: 0px;
	text-align: center;
	@extend %align;
}

@media (min-width: 1214px){
	.plumbing-repairs{
		font-size: 4em;
	}
}

@media (min-width: 1380px){
	.headline-services{
		height: 350px;
	}

	.plumbing-repairs{
		font-size: 4.4em;
	}
}


@media (max-width:900px) {
	.plumbing-repairs{
		font-size: 2.8em;
	}

	.headline-services{
		height:300px;
	}
}

@media (max-width:530px){
	.plumbing-repairs{
		font-size: 2.6em;
	}
}


@media (max-width:630px){
	.headline-services{
		height: 300px;
	}
}

@media (max-width:429px){
	.headline-services{
		height: 450px;
		padding-right: 40px;
		padding-left: 40px;
	}
}

@media (max-width:342px){
	.headline-services{
		padding-right: 0px;
		padding-left: 0px;
	}
}
