$navlinkmargin:30px; // margins between each link
$fontsize-navlinks:18pt; // font size for each nav link
$social-padd:30px;


.secondary-nav {
	height: 200px;
	background-color:#029bae;
}

.navagation{
	text-align: center;
	margin-top: 80px;
	margin-left: 0px;
}

.home2{
	display: inline;
	font-size: $fontsize-navlinks;
	font-family: $type-face;

	#color-home{
		color: white;
	}
}

.services2{
	display: inline;
	margin-left: $navlinkmargin;
	font-family: $type-face;
	font-size: $fontsize-navlinks;

	#color-services{
		color:white;
	}
}

.about2{
	display: inline;
	margin-left: $navlinkmargin;
	font-family: $type-face;
	font-size: $fontsize-navlinks;

	#color-about{
		color:white;
	}
}

.contact2{
	display: inline;
	margin-left: $navlinkmargin;
	font-family: $type-face;
	font-size: $fontsize-navlinks;

	#color-contact{
		color:white;
	}
}

.blog{
	display: inline;
	margin-left: $navlinkmargin;
	font-family: $type-face;
	font-size: $fontsize-navlinks;

	#color-blog{
		color:white;
	}
}

$type-face:Avenir;
$fontsize-contact:1.5em;
$weight: 600;

@mixin footer-contact {
	font-family: $type-face;
	font-size: $fontsize-contact;
	font-weight:$weight; 
	color: white;
	padding-left: 25px;
	padding-right: 20px;
	padding-top: 40px;
	margin: 0;

	#phone-link{
	color:white;
	}
}

.phone-foot{
	@include footer-contact;
}

.email-foot{
	@include footer-contact;
}

@media (max-width:640px){
	.secondary-nav{
		height:400px;
	}
}


@media (max-width:640px){
	.home2{
		margin-left:30px;
	}
}

@media (max-width:640px){
	.blog{
		display: block;
	}
}

.social-media{
	height: 200px;
	background-color:#b9c4cf;

	.row{
		margin: 0px
	}

	.columns{
		padding: 0px;
	}
}

#social-links{
	padding-top: 55px;
	text-align: center;
}

.facebook{
	display: inline;
	padding-right: $social-padd;
}

.twitter{
	display: inline;
	padding-right: $social-padd;
}

.linkedin{
	display: inline;
	padding-right: $social-padd;
}

.googleplus{
	display: inline;
	padding-right: $social-padd;
}

.phone-foot{
	height: 100px;
	background-color:#1571be
}

.email-foot{
	height:100px;
	background-color:#2989da;
}


$font-size-foot:1.5em;
$font:Avenir; 
$font-weight-foot: 200;

@mixin footer-type{
	font-family:$font;
	font-size: $font-size-foot;
	font-weight: $font-weight-foot;
	color: white;
}

.bottom-bar{
	height: 300px;
	background-color: #1aabe8;
}

.footer-container{
	padding-top: 80px;
	text-align: center;
}

.row .row{
	margin: 0;
}

.license{
	@include footer-type;
	padding-left: 10px;
}

#numbers{
	@include footer-type;
	list-style: none;
	padding-top: 20px;
}

.aff-with{
	@include footer-type;
}

.newsletter{
	@include footer-type;
}

.form-container{
	padding-top: 20px;
}

#news-button{
	margin-top: 10px;
}

#bb{
	padding-top: 20px;
}



@media (max-width:1024px){
	.social-media{
		padding-bottom:400px;
	}
}

@media (max-width: 640px){
	.navagation{
		margin-left: 20px;
	}
}

@media (max-width:500px){
	.facebook{
		padding-right: 0px;
	}

	.twitter{
		padding-right: 0px;
	}

	.linkedin{
		padding-right: 0px;
	}

	.googleplus{
		padding-right: 0px;
	}
}

@media (max-width:480px){
	#social-links{
		margin: 0px;
		padding-left: 22px;
		padding-right: 22px;
	}

	.navagation{
	margin-left: 0px;
	text-align: left;

	}
}

@media (max-width:380px){
	.facebook{
		display: inherit;
	}

	.twitter{
		display: inherit;
	}

	.linkedin{
		display: inherit;
	}

	.googleplus{
		display: inherit;
	}
}

@media (max-width:380px){
	.social-media{
		padding-bottom:650px;
	}
}

