@import "home/all";
@import "services/all";
@import "about/all";
@import "contact/all";
@import "footer/all";

html,body{
	overflow-x:hidden;
}

// all images with the class "full"
img.full {
	width: 100%;
}

.full-serv{
	width: 100%;
}

@media (max-width:640px){
	.full-serv{
	margin-top: 254px;
	}
}

img.full-contact{
	width: 100%;
}

.image-highres{
	width: 100%;
}
