@import "home/all";
@import "services/all";
@import "about/all";
@import "contact/all";

// all images with the class "full"
img.full {
	width: 100%;
}

img.full-contact{
	width: 100%;
}

.image-highres{
	width: 100%;
}
